GOLEM_API_KEY=<paste your API key here>
GOLEM_GTFS_URL=https://data.pid.cz/
GOLEM_GTFS_ZIP=PID_GTFS.zip
GOLEM_STOPS=stops/json/stops.json
CUSTOM_GTFS_URL=https://spojenka.d3s.mff.cuni.cz/
CUSTOM_GTFS_ZIP=api/data/timetable/gtfs